[Unit]
Description=Weekly cleanup of pacman cache and optimize database

[Timer]
OnCalendar=weekly
AccuracySec=24h
Persistent=true

[Install]
WantedBy=multi-user.target
